.card-input-div {
      display: grid;
      grid-template-columns: 48% 48%;
      justify-content: space-between;
      margin: 20px 0px;
  }
  
  .card-input,
  .card-textarea {
      width: 100%;
      border: 1px solid rgb(165, 165, 165);
      outline: none;
      transition: all 0.4s;
      padding: 8px; 
      border-radius: 5px;
      margin: 10px 0px;
  }
  
  .card-input:focus,
  .card-textarea:focus {
      border: 1px solid white;
      box-shadow: 0 0 6px 0.5px rgb(0, 68, 255);
  }
  
  .card-input::placeholder,
  .card-textarea::placeholder {
      color: rgb(148, 147, 147);
      font-size: 14px; 
  }
  
  .card-textarea {
      height: 120px;
      resize: vertical;
  }
  .card-textarea{
      height: 39px;
  }