<div class="card mx-3 mt-3">
      <div class="card-body card_body2">
        <div class="gr">
          <!-- <mat-form-field color="primary" class="W100">
            <mat-label>Search</mat-label>
            <mat-icon color="primary">search</mat-icon>
            <input (keyup)="FILTER($event)" placeholder="Search Pepole" #input>
          </mat-form-field> -->
          <div class="my-3">
            <div class="input-group mb-3">
              <span class="input-group-text"><mat-icon color="primary">search</mat-icon></span>
              <input type="text" (keyup)="FILTER($event)" class="form-control search_input" placeholder="Search"
                name="Search" #input>
            </div>
          </div>
          <!-- <button class="rounded_button" routerLink="add"><i class="fa-solid fa-plus"></i></button> -->
          <div class="d-flex">
            <div class="example-button-container mx-2">
              <button (click)="replace()" mat-mini-fab color="primary" aria-label="Example icon button with a plus one icon">
                <i class="fa fa-refresh" aria-hidden="true"></i>
              </button>
            </div>
            <div class="button mx-2">
              <button routerLink="add" mat-mini-fab color="accent" aria-label="Example icon button with a plus one icon">
                <i class="fa-solid fa-plus"></i>
              </button>
            </div>
          </div>
        </div>
    
        <div class="cad ">
          <div class="card-body card_body3">
                    <!-- Loader -->
        <div *ngIf="loading" class="loader-overlay">
            <mat-spinner diameter="50" color="primary"></mat-spinner>
          </div>
            <table class="mat-elevation-z1" mat-table [dataSource]="DATA" matSort>
              <ng-container [matColumnDef]="column.ID" *ngFor="let column of COLS">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{column.TX}} </th>
                <td mat-cell *matCellDef="let element"> {{element[column.ID] ? element[column.ID] : 'N/A'}} </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="SELC"></tr>
              <tr (click)="ITEM(row)" mat-row *matRowDef="let row; columns: SELC;"></tr>
              <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell ERROR" colspan="3">No record exists for : {{input.value}}</td>
              </tr>
            </table>
          </div>
        </div>
        <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Records">
        </mat-paginator>
      </div>
    </div>