<div class="card mx-3 my-3" *ngIf="ORDERSTATUSFR" [formGroup]="ORDERSTATUSFR">
      <div class="card-header">
          <div class="fs-5 fw-normal">{{isEdit ? 'EDIT ORDERSTATUS' : 'ADD ORDERSTATUS'}}</div>
          <div class="text-secondary mt-1"><small>{{isEdit ? 'Edit Order Status Data ' : 'Create A Order Status'}}</small></div>
      </div>
      <div class="card-body">
          <div class="card-input-div">
              <div>
                  <label for="Name">Status Name<span>*</span></label>
                  <input type="text" class="card-input" id="statusName" formControlName="statusName"
                      placeholder="Enter Status Name">
                  <div *ngIf="ORDERSTATUSFR.get('statusName')?.invalid && ORDERSTATUSFR.get('statusName')?.touched"
                      class="text-danger">Status Name is required</div>
              </div>
              <div>
                  <label for="Name">Status Name</label>
                  <input type="text" class="card-input" id="shortForm" formControlName="shortForm"
                      placeholder="Enter Status Name">
              </div>
              <div>
                  <label for="Name">Serial</label>
                  <input type="number" class="card-input" id="serial" formControlName="serial"
                      placeholder="Enter Status Name">
              </div>
              <div class="custom-dropdown" *ngIf="isEdit">
                  <label for="role">Active Status</label>
                  <select class="card-input" id="role" formControlName="isActive">
                      <option [value]="true" class="card-option">ACTIVE</option>
                      <option [value]="false" class="card-option">INACTIVE</option>
                  </select>
                  <span class="custom-dropdown-arrow"></span>
              </div>
          </div>
      </div>
      <div class="card-footer bg-light">
          <button type="button" class="btn btn-secondary float-start" (click)="SY.BACK()">Cancel</button>
          <button type="submit" class="btn btn-primary float-end" [disabled]="!ORDERSTATUSFR.valid"
              (click)="SAVE()">Save</button>
      </div>
  </div>