/* Modal Backdrop */
.modal-backdrop {
      background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black */
  }
  
  /* Modal Content */
  .modal-content {
      background-color: #ffffff; /* white background */
      border-radius: 8px; /* rounded corners */
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5); /* shadow effect */
  }
  
  /* Modal Header */
  .modal-header {
      background-color: #f8f9fa; /* light gray background */
      border-bottom: 1px solid #dee2e6; /* bottom border */
      border-radius: 8px 8px 0 0; /* rounded corners, except at the bottom */
  }
  
  .modal-header .modal-title {
      color: #343a40; /* dark text color */
  }
  
  .modal-header .close {
      color: #343a40; /* dark text color */
      opacity: 0.5; /* semi-transparent */
      transition: opacity 0.3s ease;
  }
  
  .modal-header .close:hover {
      opacity: 1; /* fully visible on hover */
  }
  
  .modal_close {
      font-size: 10px !important;
      border: none !important;
      outline: none !important;
      box-shadow: 0 0 0 0 white !important;
  }
  .card-input-div {
      display: grid;
      grid-template-columns: 48% 48%;
      justify-content: space-between;
      margin: 20px 0px;
}

.card-input,
.card-textarea {
      width: 100%;
      border: 1px solid rgb(165, 165, 165);
      outline: none;
      transition: all 0.4s;
      padding: 8px;
      border-radius: 5px;
      margin: 10px 0px;
}

.card-input:focus,
.card-textarea:focus {
      border: 1px solid white;
      box-shadow: 0 0 6px 0.5px rgb(0, 68, 255);
}

.card-input::placeholder,
.card-textarea::placeholder {
      color: rgb(148, 147, 147);
      font-size: 14px;
}

.card-textarea {
      height: 120px;
      resize: vertical;
}

.card-textarea {
      height: 39px;
}
  