<div class="card mx-3 my-3" *ngIf="CATFR" [formGroup]="CATFR">
    <div class="card-header">
      <div class="fs-5 fw-normal">{{isEdit ? 'Edit Category' : 'Add New Category'}}</div>
      <div class="text-secondary mt-1"><small> {{isEdit ? 'Edit Category By CategoryId' : 'Create A Category'}}</small></div>
    </div>
    <div class="card-body">
      <!-- Loader -->
      <div *ngIf="loading" class="loader-overlay">
        <mat-spinner diameter="50" color="primary"></mat-spinner>
      </div>
      <div class="card-input-div">
        <!-- Category Name -->
        <div>
          <label for="categoryName">Category Name<span>*</span></label>
          <input type="text" class="card-input" id="categoryName" formControlName="categoryName" placeholder="Enter Category Name">
          <div *ngIf="CATFR.get('categoryName')?.invalid && CATFR.get('categoryName')?.touched" class="text-danger">Category Name is required</div>
        </div>
        <!-- Category Image -->
        <div>
          <label for="categoryImage">Category Image</label>
          <input type="text" class="card-input" id="categoryImage" formControlName="categoryImage" placeholder="Enter Image URL">
        </div>
        <!-- Serial -->
        <div>
          <label for="serial">Serial</label>
          <input type="number" class="card-input" id="serial" formControlName="serial" placeholder="Enter Serial">
        </div>
        <!-- Active Status (for adding new category) -->
        <div class="custom-dropdown" *ngIf="!isEdit">
          <label for="isActive">Active Status</label>
          <select class="card-input" id="isActive" formControlName="isActive">
            <option [value]="true" class="card-option">ACTIVE</option>
            <option [value]="false" class="card-option">INACTIVE</option>
          </select>
          <span class="custom-dropdown-arrow"></span>
        </div>
      </div>
    </div>
    <div class="card-footer bg-light">
      <button type="button" class="btn btn-secondary float-start" (click)="SY.BACK()">Cancel</button>
      <button type="submit" class="btn btn-primary float-end" [disabled]="!CATFR.valid" (click)="SAVE()">Save</button>
    </div>
  </div>
  